/* .header{
    list-style: none;
    position:absolute;
    right:50%;
    margin-right:155px;
    margin-top:220px;
} */

/* .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 255, 55);
    height: 100px;
    
  } */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 255, 55);
  height: 100px;
  position: fixed;
  width: 100%;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: bisque;
  height: 40px;
  width: 700px; */
}
