.profile-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("../assets/images/seamless-dumbbell-pattern.jpg");
}

.profile-list {
  list-style: none;
}
.card-profiles {
  text-align: center;
  height: 321px;
  width: 400px;
  border: 1px solid black;
  margin: 100vh 0;
  z-index: 1;
  background-color: #efefef;
  border-radius: 20px;
}

.placeHolder-pic {
  height: 200px;
  width: 200px;
}
